mixin product-slider(list)
	each item in list
		form.product-slider__slide(action="")
			if(item.sale || item.hit)
				.product-slider__slide-labels
					if(item.sale)
						.product-slider__slide-sale 
							span Акция
					if(item.hit)
						.product-slider__slide-hit 
							span Хит
			figure.product-slider__slide-figure
				.product-slider__slide-img
					img(src= item.img, alt="")
				if(item.caption)
					figcaption.product-slider__slide-caption!= item.caption
			.product-slider__slide-desc= item.desc
			
			if(item.sale)
				.product-slider__slide-price= item.price
					span= item.oldPrice
			else 
				.product-slider__slide-price= item.price
			select(name="")
				option(value="1") Погонными метрами (1,52 х 1 м)
				option(value="2") Рулонами (1,52 х 15 м)
				option(value="3") Рулонами (1 х 12 м)
					
			a.product-slider__slide-btn(href="#")
				span В корзину
			a.btn.btn__more._catalog(href='#') 
				span Подробнее




